import org.flywaydb.sbt.FlywayPlugin.autoImport._

object DB {
  // create user fleetbuddy with password '';
  // create database fleetbuddy;
  // create database fleetbuddytest;
  // grant all privileges on database "fleetbuddy" to fleetbuddy;
  // grant all privileges on database "fleetbuddytest" to fleetbuddy;
  val settings = Seq(
      flywayUrl := "jdbc:postgresql:fleetbuddy"
    , flywayDriver := "org.postgresql.Driver"
    , flywayUser := ""
    , flywayPassword := ""
  )
}